In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#read dataset
df=pd.read_csv("top250_football.csv")

In [8]:
#display top 10 rows
df.head(10)

,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Transfer_fee
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,60000000
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,56810000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,36150000
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,34500000
5,Rio Ferdinand,Centre-Back,22,West Ham,Premier League,Leeds,Premier League,2000-2001,26000000
6,Flávio Conceicao,Central Midfield,26,Dep. La Coruña,LaLiga,Real Madrid,LaLiga,2000-2001,25000000
7,Savo Milosevic,Centre-Forward,26,Real Zaragoza,LaLiga,Parma,Serie A,2000-2001,25000000
8,David Trézéguet,Centre-Forward,22,Monaco,Ligue 1,Juventus,Serie A,2000-2001,23240000
9,Claudio López,Centre-Forward,25,Valencia CF,LaLiga,Lazio,Serie A,2000-2001,23000000

In [11]:
#define the type of dataset
df.dtypes

Name            object
Position        object
Age              int64
Team_from       object
League_from     object
Team_to         object
League_to       object
Season          object
Transfer_fee     int64
dtype: object

In [12]:
#describing the dataset
df.describe()

               Age  Transfer_fee
count  4700.000000  4.700000e+03
mean     24.338723  9.447586e+06
std       3.230809  1.043772e+07
min       0.000000  8.250000e+05
25%      22.000000  4.000000e+06
50%      24.000000  6.500000e+06
75%      27.000000  1.082000e+07
max      35.000000  2.220000e+08

In [14]:
#shape
df.shape

(4700, 9)

In [15]:
# displaying the number of dublicate rows
duplicate_rows_df = df[df.duplicated()]
print("Number of duplicate rows: ", duplicate_rows_df.shape)

Number of duplicate rows:  (0, 9)

In [16]:
#Used to count the number of rows 
df.count()

Name            4700
Position        4700
Age             4700
Team_from       4700
League_from     4700
Team_to         4700
League_to       4700
Season          4700
Transfer_fee    4700
dtype: int64

In [17]:
#dropping the dublicate values
df = df.drop_duplicates()
df.head(10)

,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Transfer_fee
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,60000000
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,56810000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,36150000
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,34500000
5,Rio Ferdinand,Centre-Back,22,West Ham,Premier League,Leeds,Premier League,2000-2001,26000000
6,Flávio Conceicao,Central Midfield,26,Dep. La Coruña,LaLiga,Real Madrid,LaLiga,2000-2001,25000000
7,Savo Milosevic,Centre-Forward,26,Real Zaragoza,LaLiga,Parma,Serie A,2000-2001,25000000
8,David Trézéguet,Centre-Forward,22,Monaco,Ligue 1,Juventus,Serie A,2000-2001,23240000
9,Claudio López,Centre-Forward,25,Valencia CF,LaLiga,Lazio,Serie A,2000-2001,23000000

In [18]:
#showing count
df.count()

Name            4700
Position        4700
Age             4700
Team_from       4700
League_from     4700
Team_to         4700
League_to       4700
Season          4700
Transfer_fee    4700
dtype: int64

In [21]:
#showing the null values in dataset
print(df.isnull().sum())

Name            0
Position        0
Age             0
Team_from       0
League_from     0
Team_to         0
League_to       0
Season          0
Transfer_fee    0
dtype: int64

In [23]:
#dropping null values
df = df.dropna()

In [24]:
#data after dropping null values
df.count()

Name            4700
Position        4700
Age             4700
Team_from       4700
League_from     4700
Team_to         4700
League_to       4700
Season          4700
Transfer_fee    4700
dtype: int64

In [25]:
#crosstab between age and position of a player
df_crosstab = pd.crosstab(df['Age'],
                            df['Position'], 
                               margins = False)
print(df_crosstab)

Position  Attacking Midfield  Central Midfield  Centre-Back  Centre-Forward  \
Age
0                          0                 0            0               1
15                         0                 1            0               0
16                         2                 2            1               1
17                         2                 2            3               6
18                        15                 9           10              20
19                        11                23           20              41
20                        32                39           35              68
21                        42                45           54              91
22                        36                48           87             120
23                        37                62           85             112
24                        56                55           82             142
25                        34                47           73             148
26                        52                53           73             128
27                        33                34           74             115
28                        26                30           45              91
29                        23                21           31              56
30                        14                11           22              47
31                         7                 4            7              19
32                         3                 1            8               9
33                         1                 0            3               2
34                         0                 0            1               1
35                         0                 0            0               0

Position  Defender  Defensive Midfield  Forward  Goalkeeper  Left Midfield  \
Age
0                0                   0        0           0              0
15               0                   0        0           0              0
16               0                   0        0           0              0
17               1                   2        0           1              0
18               0                   4        0           0              0
19               0                  11        0           6              3
20               0                  26        0           6              2
21               0                  29        0           7              3
22               0                  39        0          12             10
23               0                  51        0          16             10
24               0                  41        0          11              5
25               0                  53        1          25             11
26               0                  41        0          17             15
27               0                  30        0          20              2
28               0                  29        2          16             12
29               0                  27        0          11              7
30               0                  17        0          11              4
31               0                   6        0           6              1
32               0                   2        0           3              1
33               0                   2        0           7              0
34               0                   1        0           2              0
35               0                   0        0           3              1

Position  Left Winger  Left-Back  Midfielder  Right Midfield  Right Winger  \
Age
0                   0          0           0               0             0
15                  0          0           0               0             0
16                  1          1           0               0             2
17                  3          0           0               1             2
18                 10          4           0               0             4
19                 12          5           0               1            20
20                 29         16           0               3            25
21                 32         22           0               6            22
22                 26         21           0               2            33
23                 26         28           0               6            41
24                 33         30           0              11            35
25                 18         23           0              10            36
26                 20         17           0               2            30
27                 18         27           1               4            24
28                 19         14           0               8            11
29                 13         10           0               4            13
30                  5          7           0               4             7
31                  1          0           0               1             0
32                  1          0           0               0             0
33                  0          0           0               0             0
34                  0          0           0               0             0
35                  0          0           0               0             0

Position  Right-Back  Second Striker  Sweeper
Age
0                  0               0        0
15                 0               0        0
16                 0               0        0
17                 0               0        0
18                 3               3        0
19                 5               7        0
20                12               9        0
21                12               6        0
22                15              12        0
23                30              15        0
24                21              14        0
25                30              15        0
26                17              15        1
27                14               8        0
28                12              12        0
29                 3               4        0
30                 3               5        0
31                 4               3        0
32                 0               2        0
33                 0               0        0
34                 0               0        0
35                 0               0        0

In [26]:
#simple stats fo the data
mean1 = df['Age'].mean()
sum1 = df['Age'].sum()
max1 = df['Age'].max()
min1 = df['Age'].min()
count1 = df['Age'].count()
median1 = df['Age'].median() 
std1 = df['Age'].std() 
var1 = df['Age'].var()

In [27]:
#printing the above block
print ('Mean Age: ' + str(mean1))
print ('Sum of Age: ' + str(sum1))
print ('Max Age: ' + str(max1))
print ('Min Age: ' + str(min1))
print ('Count of Age: ' + str(count1))
print ('Median Age: ' + str(median1))
print ('Std of Age: ' + str(std1))
print ('Var of Age: ' + str(var1))

Mean Age: 24.33872340425532
Sum of Age: 114392
Max Age: 35
Min Age: 0
Count of Age: 4700
Median Age: 24.0
Std of Age: 3.230808819951418
Var of Age: 10.438125631075874

In [28]:
#group by
groupby_sum1 = df.groupby(['Age']).sum() 
groupby_count1 = df.groupby(['Age']).count()

In [29]:
print ('Sum of values, grouped by the Age: ' + str(groupby_sum1))

Sum of values, grouped by the Age:      Transfer_fee
Age
0         2000000
15        3200000
16       80700000
17      143640000
18      743810000
19     1565160000
20     2724840000
21     3428255000
22     4110520000
23     5042080000
24     5407570000
25     5195030000
26     4530580000
27     4297980000
28     2998540000
29     2157520000
30     1171590000
31      421490000
32      152100000
33      195600000
34       16400000
35       15050000

In [30]:
df.skew(axis = 1, skipna = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_7668\2546390060.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.skew(axis = 1, skipna = True)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
4695   NaN
4696   NaN
4697   NaN
4698   NaN
4699   NaN
Length: 4700, dtype: float64

In [31]:
print(df['Age'].astype(float).skew()) 
#skew of age
print(df['Age'].astype(float).kurt())
#kurt of age
print(df['Age'].astype(float).kurtosis())
#kurtosis of age

0.03393606676809901
0.23885985697477352
0.23885985697477352

In [32]:
absolute_frequencies = df['Age'].value_counts()
relative_frequencies = df['Age'].value_counts(normalize=True)

In [33]:
absolute_frequencies

24    536
25    524
23    519
26    481
22    461
27    404
21    371
28    327
20    302
29    223
19    165
30    157
18     82
31     59
32     30
17     23
33     15
16     10
34      5
35      4
0       1
15      1
Name: Age, dtype: int64

In [34]:
relative_frequencies

24    0.114043
25    0.111489
23    0.110426
26    0.102340
22    0.098085
27    0.085957
21    0.078936
28    0.069574
20    0.064255
29    0.047447
19    0.035106
30    0.033404
18    0.017447
31    0.012553
32    0.006383
17    0.004894
33    0.003191
16    0.002128
34    0.001064
35    0.000851
0     0.000213
15    0.000213
Name: Age, dtype: float64

In [35]:
# sort data frame
df.sort_values(["Age"], 
                    axis=0,
                    ascending=[False], 
                    inplace=True)
  
# displaying sorted data frame
print("\nAfter sorting(ordered array):")
print(df)

After sorting(ordered array):
                     Name          Position  Age        Team_from  \
112   José Luis Chilavert        Goalkeeper   35  Vélez Sarsfield
487      Claudio Taffarel        Goalkeeper   35      Galatasaray
2954           Shay Given        Goalkeeper   35         Man City
2414           Zé Roberto     Left Midfield   35         Nacional
1179       Sonny Anderson    Centre-Forward   34    Villarreal CF
...                   ...               ...  ...              ...
4273      Pietro Pellegri    Centre-Forward   16            Genoa
1306    Slobodan Rajkovic       Centre-Back   16      OFK Beograd
1254         Theo Walcott      Right Winger   16      Southampton
1370          Fran Mérida  Central Midfield   15   Barcelona Yth.
236     Marzouq Al-Otaibi    Centre-Forward    0           Shabab

           League_from        Team_to       League_to     Season  Transfer_fee
112          Argentina  R. Strasbourg         Ligue 1  2000-2001       5300000
487          Süper Lig          Parma         Serie A  2001-2002       2000000
2954    Premier League    Aston Villa  Premier League  2011-2012       3750000
2414  Primera División   Hamburger SV    1.Bundesliga  2009-2010       4000000
1179            LaLiga      Al Rayyan           Qatar  2004-2005       2000000
...                ...            ...             ...        ...           ...
4273           Serie A         Monaco         Ligue 1  2017-2018      21000000
1306         SuperLiga        Chelsea  Premier League  2005-2006       5200000
1254      Championship        Arsenal  Premier League  2005-2006      10500000
1370             Spain    Arsenal U18         England  2005-2006       3200000
236       Saudi Arabia        Ittihad    Saudi Arabia  2000-2001       2000000

[4700 rows x 9 columns]